<div id="<%= dom_id beer_club %>">
  <h3><%= beer_club.name %></h3>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

</div>
